<ion-view title="Home" id="page9">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/20161005-083135_zoom.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div>
      <h4 class="positive">To your diaries! #dnnconnect2017</h4>

      <p>After Switzerland, Paris, Hamburg, Brussels, Girona, Lake Garda, Millau and Girona again, it's going to be... back to Girona for the annual DNN Connect Conference in Europe in 2017! Our professional and friendly gathering around DNN and much more,
        will take place on 25th -28th May 2017, so put it in your diary now!</p>

      <p>Why going back to the same place as last year ? Because the rural setting for the conference, where the entire group of participants can stop in the same place for sessions, workshops, accommodation and meals, including families, was a real success
        and it became next-to-perfect last year with only a few details to improve on, which is the plan for 2017! Less time will thus be spent on searching for an ideal place and more on getting the best speakers, sessions and workshops for all attendees!</p>

      <p>If you were there last year, you know that families are welcome, as there is plenty of room and loads to do in this beautiful part of northern Spain! As for travelling, access to the place from major airports (Girona or Barcelona) is quick and easy!</p>

      <p>We hope you are looking forward as much as we are, to meet up again on 25th -28th May 2017 in Vilar Rurals, Girona! So let's get that time booked in and those travel arrangements sorted and don't forget your passport!!! ;-) We're taking care of
        the rest for you!</p>

      <p>Find out right now on this website more information regarding call for speakers and sponsoring the event. Keep a eye out for opening of registration, coming soon ! In the meantime, you can show your interest for the event on the Facebook event that
        has been created...</p>

      <h4 class="positive">Conference full details</h4>

      <p>
        <strong>When :</strong> May 25 – 28, 2017
        <br>
        <strong>Where :</strong> Vilar Rural de Sant Hilari, Camí de Reixac, s/n (Variant Font Vella) 17403 Sant Hilari (Girona) Tel. 972 872 820 - Fax 972 869 577
        <br>
        <strong>What :</strong> Presentations, business workshops, networking activities...
        <br>
        <strong>Focus :</strong> DNN Platform and related technologies
        <br>
        <br>
        <strong>The venue will be completely privatized for the whole event. Only DNN’ers around!</strong>
      </p>

      <h4 class="positive">What's included ?</h4>

      <p>Just like in the past, you do not have to worry about accommodation and meals for the entire conference.</p>

      <p>Included with your registration are :</p>

      <ul class="bulletList">
        <li>The
          <strong>conference</strong> itself (sessions, workshops, etc...) from 25th to 28th of May 2017</li>
        <li>
          <strong>3 nights accommodation</strong> (Thursday, Friday and Saturday nights) at the Vilar Rural de Sant Hilari including breakfast</li>
        <li>
          <strong>All meals and drinks</strong> (Thursday evening meal, Friday breakfast, lunch and dinner, Saturday breakfast, lunch and dinner, Sunday breakfast). If you need lunch on Sunday, that can be arranged on site, if you let us know (extra cost)!</li>
        <li>
          <strong>1 year membership</strong> with the DNN Connect Association</li>
      </ul>

      <h4 class="positive">Traveling to Spain</h4>

      <p>To avoid any potential difficulties, it may be worth while reviewing the information contained here before planning your trip.</p>
    </div>
  </ion-content>
</ion-view>